//Colors

$body-color: lightgray;
$main-color: #eee;
$menu-color: #444;
$text-color-light: white;
$accent-color-1: gray;

//Fonts

$title-font: 'Montserrat', sans-serif;
$body-font: 'Quicksand', sans-serif;